.card {
    margin: 10px;
    width: 20em;
}

.card-footer {
    text-align: center;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 630px) {
    .modal-sm {
        max-width: 100%;
    }
    
    .card {
        width: 100%;
    }
    
    .hrcard {
        display: "inline-block";
    }
    
    .logo {
        width: 30px;
    }
}
