mat-card {
    margin: 10px;
    width: 20em;
}

mat-card-footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,.03);
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 630px) {
    .modal-sm {
        /*max-width: 98%;*/
    }
    
    mat-card {
        /*width: 98%;*/
    }
    
    .hrcard {
        display: "inline-block";
    }
    
    .logo {
        width: 30px;
    }
}
