table {
    width: 100%;
}

.mat-table td {
    padding-right: 10px;
}

tr.mat-footer-row {
    font-weight: bold;
}

.cdk-column-loadingdata,
.cdk-column-nodata {
  text-align: center;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
    .hidden-xs {
        display:none;
    }
}

.hide {
    display: none;
}

.cdk-column-loading {
    align-content: center;
    justify-content: center;
    font-style: italic;
}

.alr {
    text-align: right;
}

/*  TESTES   */

