table {
    width: 100%;
}

.mat-table td {
    padding-right: 10px;
}

tr.mat-footer-row {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .hidden-xs {
        display:none;
    }
}

/*  TESTES   */

