<div>

    <div style="margin: 10px;">
        <button mat-raised-button color="primary" (click)="btnGetData()">Buscar produtos</button>
        &nbsp;
        <button mat-raised-button (click)="btnClearData()">Limpar</button>
    </div>

    <mat-card style="display: flex; justify-content: space-between;">

        <div style="display: flex">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
            </mat-form-field>

            <mat-paginator #paginator
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event">
            </mat-paginator>
        </div>

    </mat-card>
    <BR>
    <mat-card>

        <table mat-table [dataSource]="matDataSource" matSort>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                <td mat-cell *matCellDef="let row"> {{ row.codigo }} </td>
            </ng-container>
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                <td mat-cell *matCellDef="let row"> {{ row.descricao }} </td>
            </ng-container>
            <ng-container matColumnDef="alt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Alt</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.alt }} </td>
            </ng-container>
            <ng-container matColumnDef="larg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Larg.</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.larg }} </td>
            </ng-container>
            <ng-container matColumnDef="prof">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Prof.</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.prof }} </td>
            </ng-container>
            <ng-container matColumnDef="volume">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Vol.</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.volume }} </td>
            </ng-container>
            <ng-container matColumnDef="peso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Peso</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.peso }} </td>
            </ng-container>
            <ng-container matColumnDef="cub">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Cub.</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.cub }} </td>
            </ng-container>
            <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
                <td mat-cell *matCellDef="let row"> {{ row.preco | currency: 'BRL' }} </td>
                <!-- <td mat-footer-cell *matFooterCellDef> {{ getTotal() | currency: 'BRL' }} </td> -->
            </ng-container>
            <ng-container matColumnDef="img">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="hidden-xs">Prospecto</th>
                <td mat-cell *matCellDef="let row" class="hidden-xs"> {{ row.img }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
        </table>
    </mat-card>
</div>

<div>
    {{ jsonDataSource }}
</div>